nav {
  text-align: center;
}

a {
  margin: 1rem;
}

h1, h2 {
  text-align: center;
  margin: 3rem auto !important;
}

.loading-spinner {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 25rem;
  margin: 0 auto;
}

.plants-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 70%;
  margin: 3rem auto;
}


.plant-card {
  display: flex;
  direction: column;
  width: 20rem;
  padding: 0.5rem;
}

.plant-card img {
  align-self: center;
  max-width: 10rem;
}

.update-btn {
  align-self: flex-end;
  margin: 0.5rem;
}

.card-title {
  font-weight: bold;
  font-size: 1.25rem;
  text-decoration: solid underline rgba(8, 63, 26, 0.125);

}
.card-subtitle {
  font-style: italic;
  margin-bottom: 1rem !important;
}

.imageTilesContainer {
 
  display: flex;
  flex-flow: column wrap;
  height: 15rem;
  align-items: space-evenly;
  justify-content: space-evenly;
  width: 22rem;
}

.imageTilesContainer img {
  width: 7rem;
  /* border: 1px solid gray; */
}



.add-plant a {
  font-size: 0.75rem;
}

.activeImgTile {
  border: 3px solid teal !important;
}